label {
    display: block;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-position-x: 70px;
    background-position-y: 50px;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    background-image: url("https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/remotely_2j6y.svg");
    font-family: 'Trebuchet MS', sans-serif;
}

.fields {
    margin: 0 auto;
    align-items: center;
    margin-left: 52px;
    border: 20px;
    padding-left: 10px;
}

.login_container {
    right: 50px;
    width: 450px;
    height: 300px;
    position: absolute;
    margin-top: 5%;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    background-color: white;
    border-radius: 10px;
    border: 1px #305A72;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: rgb(210, 241, 239);
    outline: none;
}

input[type="text"],
input[type="password"] {
    left: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.589);
    font-family: 'Trebuchet MS', sans-serif;
}

.loginButton {
    outline: none;
    display: block;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #2588d8;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 5%;
    font-family: 'Trebuchet MS', sans-serif;
}

.loginButton:hover {
    background-color: rgb(140, 185, 223);
}

h1 {
    display: block;
    text-align: center;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', sans-serif;
}

.unregistered_container {
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

@media only screen and (max-width: 650px) {
    body {
        background-repeat: no-repeat;
        background-position-x: -60px;
        background-position-y: 350px;
        position: relative;
        bottom: 0px;
    }
    .login_container {
        display: block;
        width: 60%;
        text-size-adjust: 70%;
        padding: 5%;
    }
    .loginButton {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: -2%;
    }
    input[type=text],
    input[type=password],
    input[type=email] {
        text-size-adjust: 90%;
        width: 75%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: block;
        border: none;
        background: #f1f1f1;
    }
    .unregistered_container {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .fields {
        margin-left: 8%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-repeat: no-repeat;
        position: relative;
        bottom: 0px;
    }
    /* .loginButton {
        width: 80%;
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: -2%;
    } */
    input[type=text],
    input[type=password],
    input[type=email] {
        text-size-adjust: 90%;
        width: 75%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: block;
        border: none;
        background: #f1f1f1;
    }
    .unregistered_container {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}