.topnav {
    background-color: #0a1840;
    overflow: hidden;
}

.logo {
    padding-bottom: 0;
    text-align: center;
    padding: 0px 20px;
    float: left;
}

h1 {
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 23px 24px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: rgba(49, 49, 49, 0.829);
}

.topnav a.active {
    background-color: #5b9aec;
    color: whitesmoke;
}

.topnav .icon {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    background-repeat: repeat-y;
    font-family: 'Trebuchet MS', sans-serif;
}

.assignmentInfo>h1 {
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 0.8px solid #59A2CE;
    vertical-align: middle;
}

.assignmentInfo>.general {
    padding: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}

.assignmentInfo>.extra {
    padding: 20px;
    padding-top: 0;
    margin-left: 20px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
}


/* .assignmentInfo {
    height: fit-content;
    margin: auto;
    position: relative;
    background-color: whitesmoke;
    border-bottom: 0.8px solid #59A2CE;
    padding: 10px;
} */

.submitArea {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding-left: 30px;
    border-top: 0.8px solid #59A2CE;
}

textarea {
    outline: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #cccccc;
    resize: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    padding: 10px;
    margin-top: 35px;
}

textarea:focus {
    outline-color: #2588d8;
}

.assignmentButton {
    display: block;
    margin: 0;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #2588d8;
    color: white;
    outline: none;
}

.assignmentButton:hover {
    background-color: rgb(140, 185, 223);
}

.files {
    padding-left: 5px;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
}

.predefined {
    /* padding: 10px; */
    display: block;
    color: #596faa;
}

.customInfo {
    color: #0a1840;
    /* display: flexbox; */
    display: inline-block;
    padding-left: 5px;
}

.header {
    color: #0a1840;
    width: 100%;
    height: 100px;
    position: relative;
    line-height: 100px;
    background-color: whitesmoke;
    z-index: 1;
    text-align: center;
    border-bottom: 0.8px solid #59A2CE;
}

.downloadButton {
    display: block;
    /* margin: 0; */
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #2588d8;
    color: white;
    outline: none;
    margin-left: 35px;
    margin-bottom: 35px;
}

.downloadButton:hover {
    background-color: rgb(140, 185, 223);
}

.message {
    display: inline-block;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    textarea {
        width: 80%;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    textarea {
        width: 80%;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .logo {
        display: none;
    }
    textarea {
        width: 82%;
    }
}